<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
    <div id="edit_div">
        <h1 id="edit_h1">Edit {{ a_show.title }}</h1>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/shows/{{a_show.id}}/update" method="POST">
            {% csrf_token %}
            <div class="user_info">
                <label for="show_title">Title: </label> 
                <input type="text" name="show_title" value="{{a_show.title}}" />
            </div>
            <div class="user_info">
                <label for="show_network">Network: </label>
                <input type="text" name="show_network" value="{{a_show.network}}" />
            </div>
            <div class="user_info">
                <label for="show_release_date">Release Date: </label>
                <!-- <input type="date" name="show_release_date" value="{{a_show.release_date | date:'Y m d' }}" /> -->
                <input type="text" name="show_release_date" value="{{ a_show.release_date }}"/>
            </div>
            <div class="user_info">
                <label id="description_label" for="show_description">Description: </label>
                <input id="description_box" type="textarea" name="show_description" value="{{a_show.description}}" />
            </div>
            <input onclick="My_Date()" id="update" type="submit" value="Update" />
            <a href="/shows">Go Back</a>
            <p class="actions"> | </p>
            <a href="/shows/{{a_show.id}}">Go to Show</a>
        </form>
    </div>
    <p>date</p>
    {{a_show.release_date}}
    </body>
</html>